@font-face {
  font-family: 'Exo 2';
  src: url('https://w3s.link/ipfs/bafybeihgjq2ke5ahci6afi4nqqsyrfv6bekf2mkjetyxlzu4y7sr3n3eh4/Exo2.VariableFont-wght.ttf') format('truetype-variations');
  font-weight: 400 900;
  font-style: normal;
}

text {
  font-family: 'Exo 2';
  text-align: center;
  text-anchor: middle;
}

#metagame {
  font-size: 200px;
  font-weight: 900;
}

#metagame tspan:nth-child(1) {
  filter: url(#black-blur);
  fill: #000;
  stroke-opacity: 0.2;
  stroke-width: 48;
  stroke: #000;
}

#metagame tspan:nth-child(2) {
  fill: url(#metagame-fill);
}

#season {
  font-size: 153px;
  font-weight: 400;
}

#season tspan:nth-child(1) {
  filter: url(#black-blur);
  fill: #000;
  stroke-opacity: 0.2;
  stroke-width: 9;
  stroke: #000;
}

#season tspan:nth-child(2) {
  fill: url(#season-fill);
}

@keyframes blink {
  0% { opacity: 1 }
  25% { opacity: 1 }
  30% { opacity: 0 }
  35% { opacity: 1 }
  40% { opacity: 0 }
  45% { opacity: 1 }
  50% { opacity: 0 }
  55% { opacity: 1 }
  60% { opacity: 0 }
  65% { opacity: 1 }
  70% { opacity: 0 }
  80% { opacity: 1 }
  100% { opacity: 1 }
}

.title {
  font-size: 180px;
  font-weight: 800;
  fill: #FFF;
}

@media (prefers-reduced-motion: no-preference) {
  .animated .title {
    mask: url(#fade);
    animation: blink 15s infinite;
  }
}

.title.bg {
  filter: url(#white-blur);
}

.title.bg tspan {
  stroke-width: 30;
  stroke: #FFF;
}

#arc {
  fill: none;
}

#fade rect, rect {
  fill: url(#fade-mask);
}

image {
  image-rendering: optimizeQuality;
}
